.buttons-div {
    text-align: center;
}

.row-title {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.row-subtitle {
    font-size: 1.5rem;
    color: crimson;
}

table {
    margin-top: 2rem;
    margin-bottom: 2rem;
}