{% extends 'accounting/layout.html' %} 
{% block body %} 
{% load static %}

{% if cash_log %}
<div class="card-panel grey lighten-4" style="text-align: center; max-width: 600px; margin: auto;">
  <h5>Date: {{cash_log.date}}</h5>
  <p>Cash Sales: {{cash_log.cash_sales}}</p>
  <p>Cash Card Auto Gratuity: {{cash_log.card_auto_grat}}</p>
  <p>Card Tips: {{cash_log.card_tips}}</p>
  <p>Modifications: {{cash_log.modifications}}</p>
  <p>Comments: {{cash_log.comments}}</p>
</div>
{% else %}

<h4 style="text-align: center;">Create Daily Cash Log</h4>
<form method="post" style="display: flex; flex-direction: column; max-width: 600px; margin: auto;">
    {% csrf_token %}
    <div class="row input-field" style="width: 100%;">
      {{ form.date }} {{ form.date.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.restaurant }} {{ form.restaurant.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.cash_sales }} {{ form.cash_sales.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.card_auto_grat }} {{ form.card_auto_grat.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.card_tips }} {{ form.card_tips.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.modifications }} {{ form.modifications.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.comments }} {{ form.comments.label_tag }}
    </div>
    <div class="buttons-div">
        <button
          class="btn waves-effect waves-light"
          type="submit"
        >
          Create Daily Cash Log
          <i class="material-icons right">send</i>
        </button>
      </div>
</form>


{% endif %}




{% endblock body %}