{% extends 'accounting/layout.html' %} 
{% block body %} 
{% load static %}

{% if cash_log %}
  <div class="card-panel grey lighten-4" style="text-align: center; max-width: 600px; margin: 0 auto 20px auto;">
    <h5>Dos Bandidos Cash Log</h5>
    <h5>Date: {{cash_log.date}}</h5>
    <p>Cash Sales: {{cash_log.cash_sales}}</p>
    <p>Cash Card Auto Gratuity: {{cash_log.card_auto_grat}}</p>
    <p>Card Tips: {{cash_log.card_tips}}</p>
    <p>Modifications: {{cash_log.modifications}}</p>
    <p>Comments: {{cash_log.comments}}</p>

    <h5>Expenses:</h5>
    {% if cash_log.expenses %}
      {% for expense in cash_log.expenses %}
        <p>{{expense.supplier.name}}: {{expense.amount}}</p>
      {% endfor %}
    {% else %}
      <p>No expenses</p>
    {% endif %}
  </div>
{% endif %}

{% if clover_cash_log %}

<div class="card-panel green accent-2" style="text-align: center; max-width: 600px; margin: 0 auto 20px auto;">
  <h5>Clover Data</h5>
  <h5>Date: {{clover_cash_log.date}}</h5>
  <p>Cash Sales: {{clover_cash_log.cash_sales}}</p>
  <p>Cash Card Auto Gratuity: {{clover_cash_log.card_auto_grat}}</p>
  <p>Card Tips: {{clover_cash_log.card_tips}}</p>
</div>

{% endif %}

{% if request.method == "GET" %}

<div class="card-panel" style="max-width: 600px; margin: 0 auto 20px auto;">
<h4 style="text-align: center;">Review Cash Log</h4>
<form name="review-cash-log" method="post" style="display: flex; flex-direction: column; ">
    {% csrf_token %}
    <div class="row input-field" style="width: 100%;">
      {{ review_form.date }} {{ review_form.date.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ review_form.restaurant }} {{ review_form.restaurant.label_tag }}
    </div>
    <div class="buttons-div">
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="review-cash-log"
        >
          Review Cash Log
          <i class="material-icons right">send</i>
        </button>
      </div>
</form>
</div>

<div class="card-panel" style="max-width: 600px; margin: 0 auto 10px auto;">
<h4 style="text-align: center;">Create Daily Cash Log</h4>
<form method="post" style="display: flex; flex-direction: column; ">
    {% csrf_token %}
    <div class="row input-field" style="width: 100%;">
      {{ form.date }} {{ form.date.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.restaurant }} {{ form.restaurant.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.cash_sales }} {{ form.cash_sales.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.card_auto_grat }} {{ form.card_auto_grat.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.card_tips }} {{ form.card_tips.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.modifications }} {{ form.modifications.label_tag }}
    </div>
    <div class="row input-field" style="width: 100%;">
      {{ form.comments }} {{ form.comments.label_tag }}
    </div>
    <div class="buttons-div">
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="create-cash-log"
        >
          Create Daily Cash Log
          <i class="material-icons right">send</i>
        </button>
      </div>
</form>
</div>
{% endif %}


{% endblock body %}