{% extends 'accounting/layout.html' %}

{% block body %}
{% load static %}
{% load customfilters %}

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.initialDate }}
                {{ form.initialDate.label_tag }}
            </div>
            <div class="input-field col m3 s12">
                {{ form.finishDate }}
                {{ form.finishDate.label_tag }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.suppliers }}
                {{ form.suppliers.label_tag }}
            </div>
        </div>
        <!-- {{ form.as_p }} -->
        <div class="buttons-div">
            <button class="btn waves-effect waves-light" type="submit" id="editExpenses" name="editExpenses">Edit Expenses
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

    {% include 'accounting/editable-expenses-table.html' %}

{% endblock body %}