<form method="POST" id="edit-expenses-table-form">
    {% csrf_token %}
    <table class="striped highlight responsive-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Cost Center</th>
            <th>Amount</th>
            <th>Supplier</th>
            <th>Reference</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
        <tr id="{{expense.pk}}-expense-row" style="height: 150px">
            <td><input type="text" name="{{expense.pk}}-date" value="{{ expense.date|date:'Y-m-d' }}"></td>
            <td>
                <div class="input-field">
                    <select name="{{expense.pk}}-cost_center">
                        {% for option in cost_center_choices %}
                        {% if option.0 == expense.cost_center %}
                            <option value="{{ option.0 }}" selected>{{ option.1 }}</option>
                        {% else %}
                            <option value="{{ option.0 }}">{{ option.1 }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td><input type="text" name="{{expense.pk}}-amount" value="{{ expense.amount }}"></td>
            <td>
                <div class="input-field">
                    <select name="{{expense.pk}}-supplier_id">
                        {% for option in supplier_choices %}
                        {% if option.0 == expense.supplier.id %}
                        <option value="{{ option.0 }}" selected>{{ option.1 }}</option>
                        {% else %}
                        <option value="{{ option.0 }}">{{ option.1 }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td><input type="text" name="{{expense.pk}}-reference" value="{{ expense.reference }}"></td>
            <td><textarea name="{{expense.pk}}-comments" rows="5" style="height: 100%" class="materialize-textarea">{{expense.comments}}</textarea></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn waves-effect waves-light" type="submit" id="edit-expenses" name="edit-expenses">Update Expenses
        <i class="material-icons right">send</i>
    </button>
</form>
