<table class="striped responsive-table">
    <tr class="row-title">
        <td colspan=2>Food Expenses</td>
    </tr>
    {% for supplier in food.suppliersTotals %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.total }}</td>
        </tr>
    {% endfor %}
    <tr class="row-subtitle">
        <td><strong>TOTAL FOOD EXPENSES:</strong></td>
        <td><strong>{{ food.total }}</strong></td>
    </tr>

    <tr class="row-title">
        <td colspan=2>Liquor Expenses</td>
    </tr>
    {% for supplier in liquor.suppliersTotals %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.total }}</td>
        </tr>
    {% endfor %}
    <tr class="row-subtitle">
        <td><strong>TOTAL LIQUOR EXPENSES:</strong></td>
        <td><strong>{{ liquor.total }}</strong></td>
    </tr>
</table>

<table class="striped responsive-table">
    <tr class="row-title">
            <td colspan=2>Goals</td>
    </tr>
    <tr>
        <td>{{ metrics.RestaurantOrderCount.name }}</td>
        <td>{{ metrics.RestaurantOrderCount.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.RestaurantGrossSales.name }}</td>
        <td>{{ metrics.RestaurantGrossSales.total }}</td>
    </tr>
    <tr class="row-subtitle" style="color: green" >
        <td>{{ metrics.orderAvg.name }} (Goal: 37.5)</td>
        <td>{{ metrics.orderAvg.total }}</td>
    </tr>

    <tr>
        <td>{{ metrics.RestaurantLabor.name }}</td>
        <td>{{ metrics.RestaurantLabor.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.RestaurantNetSales.name }}</td>
        <td>{{ metrics.RestaurantNetSales.total }}</td>
    </tr>
    <tr class="row-subtitle" style="color: green" >
        <td>{{ metrics.laborGoal.name }} (Goal: 19%)</td>
        <td>{{ metrics.laborGoal.total }}%</td>
    </tr>
</table>

<table class="striped responsive-table">
    <tr class="row-title">
            <td colspan=2>Cost Average</td>
    </tr>
    <tr>
        <td>Food Expenses</td>
        <td>{{ food.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.FoodNetSales.name }}</td>
        <td>{{ metrics.FoodNetSales.total }}</td>
    </tr>
    <tr class="row-subtitle">
        <td>{{ metrics.foodCost.name }}</td>
        <td>{{ metrics.foodCost.total }}%</td>
    </tr>

    <tr>
        <td>Liquor Expenses</td>
        <td>{{ liquor.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.RestaurantLiquorSales.name }}</td>
        <td>{{ metrics.RestaurantLiquorSales.total }}</td>
    </tr>
    <tr class="row-subtitle">
        <td>{{ metrics.liquorCost.name }}</td>
        <td>{{ metrics.liquorCost.total }}%</td>
    </tr>
    <tr class="row-subtitle">
        <td><strong>{{ metrics.costAvg.name }}</strong></td>
        <td><strong>{{ metrics.costAvg.total }}%</strong></td>
    </tr>
</table>
