<table class="striped responsive-table">
    <tr class="row-title">
        <td colspan=2>Food Expenses</td>
    </tr>
    {% for supplier in food.suppliers_totals %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.total }}</td>
        </tr>
    {% endfor %}
    <tr class="row-subtitle">
        <td><strong>TOTAL FOOD EXPENSES:</strong></td>
        <td><strong>{{ food.total }}</strong></td>
    </tr>

    <tr class="row-title">
        <td colspan=2>Liquor Expenses</td>
    </tr>
    {% for supplier in liquor.suppliers_totals %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.total }}</td>
        </tr>
    {% endfor %}
    <tr class="row-subtitle">
        <td><strong>TOTAL LIQUOR EXPENSES:</strong></td>
        <td><strong>{{ liquor.total }}</strong></td>
    </tr>
</table>

<table class="striped responsive-table">
    <tr class="row-title">
            <td colspan=2>Goals</td>
    </tr>
    <tr>
        <td>{{ metrics.restaurant_order_count.name }}</td>
        <td>{{ metrics.restaurant_order_count.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.restaurant_gross_sales.name }}</td>
        <td>{{ metrics.restaurant_gross_sales.total }}</td>
    </tr>
    <tr class="row-subtitle" style="color: green" >
        <td>{{ metrics.order_average.name }} (Goal: 37.5)</td>
        <td>{{ metrics.order_average.total }}</td>
    </tr>

    <tr>
        <td>{{ metrics.restaurant_labor.name }}</td>
        <td>{{ metrics.restaurant_labor.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.restaurant_net_sales.name }}</td>
        <td>{{ metrics.restaurant_net_sales.total }}</td>
    </tr>
    <tr class="row-subtitle" style="color: green" >
        <td>{{ metrics.labor_goal.name }} (Goal: 19%)</td>
        <td>{{ metrics.labor_goal.total }}%</td>
    </tr>
</table>

<table class="striped responsive-table">
    <tr class="row-title">
            <td colspan=2>Cost Average</td>
    </tr>
    <tr>
        <td>Food Expenses</td>
        <td>{{ food.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.food_net_sales.name }}</td>
        <td>{{ metrics.food_net_sales.total }}</td>
    </tr>
    <tr class="row-subtitle">
        <td>{{ metrics.food_cost.name }}</td>
        <td>{{ metrics.food_cost.total }}%</td>
    </tr>

    <tr>
        <td>Liquor Expenses</td>
        <td>{{ liquor.total }}</td>
    </tr>
    <tr>
        <td>{{ metrics.restaurant_liquor_sales.name }}</td>
        <td>{{ metrics.restaurant_liquor_sales.total }}</td>
    </tr>
    <tr class="row-subtitle">
        <td>{{ metrics.liquor_cost.name }}</td>
        <td>{{ metrics.liquor_cost.total }}%</td>
    </tr>
    <tr class="row-subtitle">
        <td><strong>{{ metrics.cost_average.name }}</strong></td>
        <td><strong>{{ metrics.cost_average.total }}%</strong></td>
    </tr>
</table>
