{% extends 'accounting/layout.html' %}

{% block body %}
{% load static %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button class="btn waves-effect waves-light" type="submit" name="getInfo">Get Info
            <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="getReport">Get Goals Report
            <i class="material-icons right">assignment</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="getCashReport">Get Cash Report
            <i class="material-icons right">attach_money</i>
        </button>

    </form>
    <div id="responses">
    {% if request.method == "POST" %}
        {% if food %}
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                {% for supplier in food.suppliersTotals %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.total }}</td>
                    </tr>
                {% endfor %}
                    <tr>        
                        <td><strong>TOTAL FOOD:</strong></td>
                        <td><strong>{{ food.total }}</strong></td>
                    </tr>
        
                {% for supplier in liquor.suppliersTotals %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>{{ supplier.total }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><strong>TOTAL LIQUOR:</strong></td>
                        <td><strong>{{ liquor.total }}</strong></td>
                    </tr>
            </table>
        {% endif %}
        {% if supplierData %}
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Check</th>
                    <th>Reference</th>
                    <th>Center Cost</th>
                </tr>
            </thead>
            {% for supplier in supplierData.expenses %}
                <tr>
                    <td>{{ supplier.supplier.name }}</td>
                    <td>{{ supplier.date }}</td>
                    <td>{{ supplier.amount }}</td>
                    <td>{% if supplier.isCheck == True %}&#10004;{% else %}&times;{% endif %}</td>
                    <!-- <td>{{ supplier.isCheck }}</td> -->
                    <td>{{ supplier.reference }}</td>
                    <td>{{ supplier.costCenter }}</td>
                </tr>
            {% endfor %}
                <tr> 
                    <td></td>       
                    <td><strong>Total {{ supplierData.name }}:</strong></td>
                    <td><strong>{{ supplierData.total }}</strong></td>
                    <td></td>       
                    <td></td>       
                    <td></td>       
                </tr>
        </table>
        {% endif %}
    {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'accounting/js/expenses.js' %}"></script>

{% endblock body %}