{% extends 'accounting/layout.html' %}

{% block body %}
{% load static %}
{% load customfilters %}
<div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.initial_date }}
                {{ form.initial_date.label_tag }}
            </div>
            <div class="input-field col m3 s12">
                {{ form.finish_date }}
                {{ form.finish_date.label_tag }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.cash }}
                {{ form.cash.label_tag }}
            </div>
            <div class="input-field col m3 s12">
                {{ form.restaurant }}
                {{ form.restaurant.label_tag }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.suppliers }}
                {{ form.suppliers.label_tag }}
            </div>
            <div class="input-field col m3 s12">
                {{ form.supplier_type }}
                {{ form.supplier_type.label_tag }}
            </div>
        </div>


        <div class="buttons-div">
            <button class="btn waves-effect waves-light" type="submit" id="getInfo" name="getInfo">Get Info
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" id="getGoals" name="getGoals">Get Goals Report
                <i class="material-icons right">assignment</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" id="getFinancials" name="getFinancials">Get Finacials Report
                <i class="material-icons right">assignment</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" id="getCashReport" name="getCashReport">Get Cash Report
                <i class="material-icons right">attach_money</i>
            </button>
        </div>
    </form>

    <div id="responses">
    {% if request.method == "POST" %}
        {% if food %}
            {% include 'accounting/goals-report.html' %}
        {% endif %}

        {% if financials_data %}
            {% include 'accounting/financials-report.html' %}
        {% endif %}

        {% if cash_data %}
            {% include 'accounting/cash-report.html' %}
        {% endif %}

        {% if supplier_data %}
            {% include 'accounting/supplier-report.html' %}
        {% endif %}
    {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'accounting/js/expenses.js' %}"></script>

{% endblock body %}