{% extends 'accounting/layout.html' %}

{% block body %}
{% load static %}
{% load customfilters %}
<div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.initialDate }}
                {{ form.initialDate.label_tag }}
            </div>
            <div class="input-field col m3 s12">
                {{ form.finishDate }}
                {{ form.finishDate.label_tag }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.suppliers }}
                {{ form.suppliers.label_tag }}
            </div>
            <div class="input-field col m3 s12">
                {{ form.supplier_type }}
                {{ form.supplier_type.label_tag }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col m3 s12 offset-m3">
                {{ form.cash }}
                {{ form.cash.label_tag }}
            </div>
        </div>

        <!-- {{ form.as_p }} -->
        <div class="buttons-div">
            <button class="btn waves-effect waves-light" type="submit" id="getInfo" name="getInfo">Get Info
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" id="getReport" name="getReport">Get Goals Report
                <i class="material-icons right">assignment</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" id="getFinancials" name="getFinancials">Get Finacials Report
                <i class="material-icons right">assignment</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" id="getCashReport" name="getCashReport">Get Cash Report
                <i class="material-icons right">attach_money</i>
            </button>
        </div>

    </form>
    <div id="responses">
    {% if request.method == "POST" %}
        {% if food %}
            <table class="striped responsive-table">
                <!-- <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead> -->
                <tr class="row-title">
                    <td colspan=2>Food</td>
                </tr>
                {% for supplier in food.suppliersTotals %}

                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.total }}</td>
                </tr>
            {% endfor %}
                <tr class="row-subtitle">        
                    <td><strong>TOTAL FOOD:</strong></td>
                    <td><strong>{{ food.total }}</strong></td>
                </tr>
                
                <tr class="row-title">
                    <td colspan=2>Liquor</td>
                </tr>
            {% for supplier in liquor.suppliersTotals %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.total }}</td>
                </tr>
            {% endfor %}
                <tr class="row-subtitle">
                    <td><strong>TOTAL LIQUOR:</strong></td>
                    <td><strong>{{ liquor.total }}</strong></td>
                </tr>
            </table>
        {% endif %}

        {% if financialsData %}          
            <table class="striped highlight responsive-table">
                <tr class="row-title">
                    <td colspan=2>INCOMES</td>
                </tr>
                {% for income in incomesData %}
                    <tr>
                        <td>{{income.name}}</td>
                        <td>{{income.total | floatformat:2}}</td>
                    </tr>
                {% endfor %}
                <tr style="color: green; border-bottom: gray 2px solid;"" class="row-title">
                    <td>Total Incomes:</td>
                    <td>{{ incomesTotal | floatformat:2 }}</td>
                </tr>

                <tr class="row-title">
                    <td colspan=2>EXPENSES</td>
                </tr>
                {% for supplierType in financialsData %}
                    <tr class="row-title">
                        <td colspan=2>{{ supplierType.name }}</td>
                    </tr>
                    {% for expense in supplierType.expenses %}
                        <tr>
                            <td>{{expense.supplier__name}}</td>
                            <td>{{expense.total_amount | floatformat:2}}</td>
                        </tr>
                    {% endfor %}
                        <tr class="row-subtitle">
                            <td>Total {{ supplierType.name }}:</td>
                            <td>{{ supplierType.total | floatformat:2 }}</td>
                        </tr>
                {% endfor %}
                <tr style="color: crimson;"" class="row-title">
                    <td>Total Expenses:</td>
                    <td>{{ financialsTotal | floatformat:2 }}</td>
                </tr>
            </table>

            
        {% endif %}

        {% if cashData %}          
        <!-- TODO: THERE HAS TO BE A BETTER WAY TO POPULATE BY COLUMNS -->
        <table class="striped highlight responsive-table">
                <tr>
                    <td></td>
                    {% for day in cashData %}
                    <td>{{ day.date }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Balance:</td>
                    {% for day in cashData %}
                    <td>{{ day.initialCash }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Cash Sales:</td>
                    {% for day in cashData %}
                    <td>{{ day.cashSales }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Card Auto Grat:</td>
                    {% for day in cashData %}
                    <td>{{ day.cardAuto }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Card Tips:</td>
                    {% for day in cashData %}
                    <td>{{ day.cardTips }}</td>
                    {% endfor %}
                </tr>
                <tr class="row-subtitle">
                    <td >Cash Out:</td>
                    {% for day in cashData %}
                    <td>{{ day.cashOut }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Cash Purchases:</td>
                    {% for day in cashData %}
                    <td>{{ day.cashPurchases |floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Modifications:</td>
                    {% for day in cashData %}
                    <td>{{ day.cashModifications }}</td>
                    {% endfor %}
                </tr>
                <tr class="row-title">
                    <td>Total:</td>
                    {% for day in cashData %}
                    <td>{{ day.finalCash }}</td>
                    {% endfor %}
                </tr>


        </table>

        
    {% endif %}

        {% if supplierData %}
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Check</th>
                    <th>Reference</th>
                    <th>Center Cost</th>
                </tr>
            </thead>
            {% for supplier in supplierData.expenses %}
                <tr>
                    <td>{{ supplier.supplier.name }}</td>
                    <td>{{ supplier.date }}</td>
                    <td>{{ supplier.amount }}</td>
                    <td>{% if supplier.isCheck == True %}&#10004;{% else %}&times;{% endif %}</td>
                    <td>{{ supplier.reference }}</td>
                    <td>{{ supplier.get_costCenter_display }}</td>
                </tr>
            {% endfor %}
                <tr> 
                    <td></td>       
                    <td><strong>Total {{ supplierData.name }}:</strong></td>
                    <td><strong>{{ supplierData.total }}</strong></td>
                    <td></td>       
                    <td></td>       
                    <td></td>       
                </tr>
        </table>
        {% endif %}
    {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'accounting/js/expenses.js' %}"></script>

{% endblock body %}