{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'accounting/css/main.css' %}">


    {% if title %}
        <title>Dos Bandidos - {{ title }}</title>
    {% else %}
        <title>Dos Bandidos</title>      
    {% endif %}

</head>
<body>
    <nav>
        <div class="nav-wrapper container">
          <a href="{% url 'accounting-home'  %}" class="brand-logo">DB</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Expenses</a></li>
            <li><a href="#">Incomes</a></li>
            {% if user.is_authenticated %}
                <li><a href="#">Sign Out</a></li>
            {% else %}
                <li><a href="#">Log In</a></li>
                <li><a href="#">Register</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>

    <ul id="mobile-demo" class="sidenav">
      <li><a href="#">Expenses</a></li>
      <li><a href="#">Incomes</a></li>
      {% if user.is_authenticated %}
          <li><a href="#">Sign Out</a></li>
      {% else %}
          <li><a href="#">Log In</a></li>
          <li><a href="#">Register</a></li>
      {% endif %}
    </ul>


    <div class="container" id="body">
      {% block body %}{% endblock body %}
    </div>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript" src="{% static 'accounting/js/main.js' %}"></script>

</body>
</html>