{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'accounting/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}" />

    {% if title %}
    <title>Dos Bandidos - {{ title }}</title>
    {% else %}
    <title>Dos Bandidos</title>
    {% endif %}
  </head>
  <body>
    <ul id="dropdown1" class="dropdown-content">
      {% if isAdmin %}
      <li>
        <a href="{% url 'accounting-edit-expenses'  %}">Edit Expenses</a>
      </li>
      <li><a href="{% url 'incomes'  %}">Incomes</a></li>
      <li><a href="{% url 'cash_log'  %}">Cash Log</a></li>
      {% endif %} {% if user.is_authenticated %}
      <li><a href="{% url 'accounting-home'  %}">Expenses</a></li>

      {% endif %}
    </ul>
    <nav>
      <div class="nav-wrapper container">
        <a href="{% url 'accounting-home'  %}" class="brand-logo">
          Dos Bandidos Accounting
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"
              >Select<i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
          <li><a href="{% url 'logout' %}">Sign Out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>

          {% endif %}
        </ul>
      </div>
    </nav>

    <ul id="mobile-demo" class="sidenav">
      {% if isAdmin %}
      <li><a href="{% url 'accounting-edit-expenses'  %}">Edit Expenses</a></li>
      <li><a href="{% url 'incomes'  %}">Incomes</a></li>
      <li><a href="{% url 'cash_log'  %}">Cash Log</a></li>
      {% endif %} {% if user.is_authenticated %}
      <li><a href="{% url 'accounting-home'  %}">Expenses</a></li>
      <li><a href="{% url 'logout' %}">Sign Out</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>

    <div class="container" id="body">{% block body %}{% endblock body %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script
      type="text/javascript"
      src="{% static 'accounting/js/main.js' %}"
    ></script>
  </body>
</html>
