{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    {% if title %}
        <title>Dos Bandidos - {{ title }}</title>
    {% else %}
        <title>Dos Bandidos</title>      
    {% endif %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        console.log('i load')
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
        });
    </script>

</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="{% url 'accounting-home'  %}" class="brand-logo">DOS BANDIDOS</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Expenses</a></li>
            <li><a href="#">Incomes</a></li>
            {% if user.is_authenticated %}
                <li><a href="#">Sign Out</a></li>
            {% else %}
                <li><a href="#">Log In</a></li>
                <li><a href="#">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <div class="container">
      {% block body %}{% endblock body %}
    </div>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>