<table class="striped responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Reference</th>
            <th>Center Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in supplier_data.expenses %}
            <tr>
                <td>{{ supplier.supplier.name }}</td>
                <td>{{ supplier.date }}</td>
                <td>{{ supplier.amount }}</td>
                <td>{{ supplier.reference }}</td>
                <td>{{ supplier.get_cost_center_display }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td><strong>Total {{ supplier_data.name }}:</strong></td>
                <td><strong>{{ supplier_data.total }}</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>